<!DOCTYPE html>
<html lang="en" ng-app="thermostat">
<head>
	<title>Thermostat Control</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="icon" type="image/png" href="/thermostat.png" sizes="192x192">
</head>
<body ng-controller="ThermostatCtrl">

<div class="container-fluid" style="width:240px">

<div>
<p><h1>{{state.tempcur}}</h1></p>
<p>Max: {{ state.temphi }} <br>
Min: {{ state.templow }}</p>
</div>

<div>
<p>Change temp:</p>
<button class="btn btn-default btn-md" ng-click="changeLow(0.1)">
<span class="glyphicon glyphicon-chevron-up"></span>
</button>
<button class="btn btn-default btn-lg" ng-click="changeLow(1)">
<span class="glyphicon glyphicon-chevron-up"></span>
</button>
<button class="btn btn-default btn-lg" ng-click="changeLow(-0.1)">
<span class="glyphicon glyphicon-chevron-down"></span>
</button>
<button class="btn btn-default btn-md" ng-click="changeLow(-1)">
<span class="glyphicon glyphicon-chevron-down"></span>
</button>
</div>

<div>
<p>Change diff:</p>
<button class="btn btn-default btn-md" ng-click="changeHi(0.1)">
<span class="glyphicon glyphicon-chevron-up"></span>
</button>
<button class="btn btn-default btn-md" ng-click="changeHi(-0.1)">
<span class="glyphicon glyphicon-chevron-down"></span>
</button>
</div>

<div style="margin-top:10px">
<div>System</div>
<div class="btn-group" role="group">
<button ng-class="{'active': state.sysmode == 'off'}" class="btn btn-default btn-lg" ng-click="setSystemMode('off')">Off</button>
</div>
</div>

</body>

<script src="/js/angular.min.js"></script>
<script src="/js/angular-resource.min.js"></script>
<script type="text/javascript">

var thermostat = new angular.module("thermostat", ["ngResource"]);

thermostat.controller("ThermostatCtrl", ["$scope", "$resource", "$interval", function ($scope, $resource, $interval) {
	var State = $resource(window.location.protocol + "//" + window.location.host + "/api/", {}, {query: {isArray: false}});
	$scope.state = State.query();

	$scope.changeLow = function(change) {
		$scope.state.templow = $scope.state.templow + change;
		$scope.state.temphi = $scope.state.temphi + change;
		$scope.state.$save();
	}
	$scope.changeHi = function(change) {
		$scope.state.temphi = $scope.state.temphi + change;
		$scope.state.$save();
	}
}]);

</script>

</html>
