<!DOCTYPE html>
<html lang="en" ng-app="thermostat">
<head>
	<title>Thermostat Control</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="icon" type="image/png" href="/thermostat.png" sizes="192x192">
</head>
<body ng-controller="ThermostatCtrl">

<div class="container-fluid" style="width:360px">

<div>
<p><h1>{{state.tempcur}} &deg;C</h1></p>
<p><h1>Heating {{ state.heatingon == 1 ? "On" : "Off" }}</h1></p>
<p>Updated: {{state.updatedat}}</h1></p>
<a href="http://zabbix.danman.eu/charts.php?graphid=1019">
<img width="100%" src="http://zabbix.danman.eu/chart2.php?graphid=1019&period=108000">
</a>
</div>

<p><h1>Settings</h1></p>
<p>Min trigger: {{ state.templow }} &deg;C</p>
<p>
<button class="btn btn-default btn-md" ng-click="changeLow(-0.1)">
<span class="glyphicon glyphicon-chevron-down"></span>
</button>
<button class="btn btn-default btn-lg" ng-click="changeLow(-1)">
<span class="glyphicon glyphicon-chevron-down"></span>
</button>
<button class="btn btn-default btn-lg" ng-click="changeLow(1)">
<span class="glyphicon glyphicon-chevron-up"></span>
</button>
<button class="btn btn-default btn-md" ng-click="changeLow(0.1)">
<span class="glyphicon glyphicon-chevron-up"></span>
</button>
</p>

<div>
<p>Max trigger: {{ state.temphi }} &deg;C<br>
Change diff:</p>
<button class="btn btn-default btn-sm" ng-click="changeHi(-0.1)">
<span class="glyphicon glyphicon-chevron-down"></span>
</button>
<button class="btn btn-default btn-sm" ng-click="changeHi(0.1)">
<span class="glyphicon glyphicon-chevron-up"></span>
</button>
</div>

</body>

<script src="/js/angular.min.js"></script>
<script src="/js/angular-resource.min.js"></script>
<script type="text/javascript">

var thermostat = new angular.module("thermostat", ["ngResource"]);

thermostat.controller("ThermostatCtrl", ["$scope", "$resource", "$interval", function ($scope, $resource, $interval) {
	var State = $resource(window.location.protocol + "//" + window.location.host + "/api/", {}, {query: {isArray: false}});
	$scope.state = State.query();

	$scope.changeLow = function(change) {
		$scope.state.templow = Math.round(($scope.state.templow + change)*10)/10;
		$scope.state.temphi = Math.round(($scope.state.temphi + change)*10)/10;
		$scope.state.$save();
	}
	$scope.changeHi = function(change) {
		$scope.state.temphi = Math.round(($scope.state.temphi + change)*10)/10;
		$scope.state.$save();
	}
}]);

</script>

</html>
